@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #fcfcfc;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.fileInput {
  display: none;
}

.file-upload-container {
  background-color: white;
  width: 500px;
  padding: 30px;
  box-shadow: 4px 5px 10px 5px rgba(0,0,0,0.05);
  border-radius: 5px;
}
.fileChooseLabel {
  display: block;
  background-color: rgb(254, 253, 255);
  height: 200px;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 2px dashed rgb(233, 209, 255) !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.fileChooseLabel p {
  margin-top: 30px;
}

.file {
  padding: 17px;
  border-radius: 5px;
  box-shadow: 4px 5px 10px 5px rgba(0,0,0,0.01);
  background-color: white;
  font-size: 13px;
  cursor: grab;
  font-weight: 600;
  margin: 12px 0;
}
.file .left {
  display: flex;
  align-items: center;
}
.file .left .file-desc {
  margin-left: 20px;
  user-select: none;
}
.file .left .file-desc .size{
  font-size: 10px;
  margin-top: 5px;
  color: #888;
}
.file .left .name {
  color: #444;
  width: 350px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file .left img {
  width: 50px;
} 
.files-container {
  padding: 15px;
  margin-top: 30px;
  width: 500px;
  max-height: 400px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(236, 215, 255);
}

.message {
  /* position: fixed;
  bottom: 20px;
  right: 20px; */
  font-size: 11px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(243, 231, 255);
  color: blueviolet;
  font-weight: bold;
}